<div>
  <div>
    <h1>Administration</h1>
    <h2>Add, Read, Update, Delete</h2>
  </div>
  <form action="/ma-page-admin" method="post">
    <ul>
      <li>
        <label for="add"> >> AJOUTER &nbsp;:</label>
        <input type="text" id="ajouter" name="ajouter" />
      </li>
      <li>
        <label for="mail"> >> MODIFIER &nbsp;:</label>
        <input type="text" id="modifier" name="modifier" />
      </li>
      <li>
        <label for="msg"> >> SUPPRIMER &nbsp;:</label>
        <input type="text" id="mail" name="user_mail" />
      </li>
    </ul>
  </form>
</div>
