<!-- LE COMPOSANT QUI PERMET DE CREE UNE NOUVELLE PLANTE-->
<div class="design">
  <h2>{{ titre }}</h2>
  <div>
    <form
      (ngSubmit)="onSubmitForm()"
      [formGroup]="formPlantTs"
      class="form-design"
    >
      <div clas="mb-3">
        <label for="nom-plant" class="form-label"> >> Nom :</label>
        <input
          type="text"
          formControlName="nom"
          id="nom"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              formPlantTs.controls['nom'].touched &&
              formPlantTs.controls['nom'].invalid
          }"
          aria-labelledby="invalid-feedback-input-name"
        />
        <div class="invalid-feedback" id="invalid-feedback-input-name">
          Ce champ est requis
        </div>
      </div>
      <div clas="mb-3">
        <label for="image-plant" class="form-label"> >> Photo : </label>
        <input
          type="text"
          formControlName="image"
          id="image"
          class="form-control"
        />
      </div>
      <div clas="mb-3">
        <label for="categorie-plant" class="form-label"> >> Categorie :</label>
        <input
          type="text"
          formControlName="categorie"
          id="categorie-plant"
          class="form-control"
        />
      </div>
      <div clas="mb-3">
        <label for="soleil-plant" class="form-label">
          >> Ensoleillement :
        </label>
        <input
          type="text"
          formControlName="soleil"
          id="soleil"
          class="form-control"
        />
      </div>
      <div clas="mb-3">
        <label for="arrosage-plant" class="form-label"> >> Arrosage : </label>
        <input
          type="text"
          formControlName="arrosage"
          id="arrosage"
          class="form-control"
        />
      </div>
      <div clas="mb-3">
        <label for="id" class="form-label"> >> Id : </label>
        <input type="text" formControlName="id" id="id" class="form-control" />
      </div>
      <div class="create-update-btn">
        <button
          class="btn btn-success"
          [disabled]="formPlantTs.invalid"
          type="submit"
        >
          Créer / Modifier la PLante !
        </button>
        <!-- Si le champ n'est pas rempli ou mal rempli, le boutton reste invalide [disabled]="formPLant.invalid"-->
      </div>
    </form>
  </div>
</div>
