<div class="custom-legend">
  <div class="needs-design">
    <div>
      <p class="fs-5 fw-semibold">LEGEND :</p>
    </div>
    <div>
      <p class="fs-5 fw-semibold">Watering</p>
    </div>
    <div>
      <div>
        <i class="bi bi-droplet b-color"></i>
        <i class="bi bi-droplet b-color"></i>
        <i class="bi bi-droplet b-color"></i>
      </div>
      <div>
        <i class="bi bi-droplet-fill b-color"></i>
        <i class="bi bi-droplet-fill b-color"></i
        ><i class="bi bi-droplet b-color"></i>
      </div>
      <div>
        <i class="bi bi-droplet-fill b-color"></i
        ><i class="bi bi-droplet-fill b-color"></i>
        <i class="bi bi-droplet-fill b-color"></i>
      </div>
    </div>
  </div>
  <div class="needs-design">
    <div>
      <p class="fs-5 fw-semibold">Sunshine</p>
    </div>
    <div>
      <i class="bi bi-brightness-high y-color"></i>
      <i class="bi bi-brightness-high y-color"></i>
      <i class="bi bi-brightness-high y-color"></i>
    </div>
    <div>
      <i class="bi bi-brightness-high-fill y-color"></i>
      <i class="bi bi-brightness-high-fill y-color"></i
      ><i class="bi bi-brightness-high y-color"></i>
    </div>
    <div>
      <i class="bi bi-brightness-high-fill y-color"></i
      ><i class="bi bi-brightness-high-fill y-color"></i>
      <i class="bi bi-brightness-high-fill y-color"></i>
    </div>
  </div>
</div>
