<div class="custom-legend">
  <div class="needs-design">
    <div>
      <p class="fs-5 fw-semibold">LEGEND :</p>
    </div>
    <div>
      <p>Watering</p>
    </div>
    <div>
      <div>
        <app-icones
          [iconName]="'droplet'"
          [iconColor]="'rgb(51, 10, 232)'"
          [iconSize]="1.2"
        ></app-icones>
        <app-icones
          [iconName]="'droplet'"
          [iconColor]="'rgb(51, 10, 232)'"
          [iconSize]="1.2"
        ></app-icones>
        <app-icones
          [iconName]="'droplet'"
          [iconColor]="'rgb(51, 10, 232)'"
          [iconSize]="1.2"
        ></app-icones>
      </div>
      <div>
        <app-icones
          [iconName]="'droplet-fill'"
          [iconColor]="'rgb(51, 10, 232)'"
          [iconSize]="1.2"
        ></app-icones>
        <app-icones
          [iconName]="'droplet-fill'"
          [iconColor]="'rgb(51, 10, 232)'"
          [iconSize]="1.2"
        ></app-icones>
        <app-icones
          [iconName]="'droplet'"
          [iconColor]="'rgb(51, 10, 232)'"
          [iconSize]="1.2"
        ></app-icones>
      </div>
      <div>
        <app-icones
          [iconName]="'droplet-fill'"
          [iconColor]="'rgb(51, 10, 232)'"
          [iconSize]="1.2"
        ></app-icones>
        <app-icones
          [iconName]="'droplet-fill'"
          [iconColor]="'rgb(51, 10, 232)'"
          [iconSize]="1.2"
        ></app-icones>
        <app-icones
          [iconName]="'droplet-fill'"
          [iconColor]="'rgb(51, 10, 232)'"
          [iconSize]="1.2"
        ></app-icones>
      </div>
    </div>
  </div>
  <div class="needs-design">
    <div>
      <p>Sunshine</p>
    </div>
    <div>
      <app-icones
        [iconName]="'sun'"
        [iconColor]="'rgb(253, 213, 15)'"
        [iconSize]="1.2"
      ></app-icones>
      <app-icones
        [iconName]="'sun'"
        [iconColor]="'rgb(253, 213, 15)'"
        [iconSize]="1.2"
      ></app-icones>
      <app-icones
        [iconName]="'sun'"
        [iconColor]="'rgb(253, 213, 15)'"
        [iconSize]="1.2"
      ></app-icones>
    </div>
    <div>
      <app-icones
        [iconName]="'sun-fill'"
        [iconColor]="'rgb(253, 213, 15)'"
        [iconSize]="1.2"
      ></app-icones>
      <app-icones
        [iconName]="'sun-fill'"
        [iconColor]="'rgb(253, 213, 15)'"
        [iconSize]="1.2"
      ></app-icones>
      <app-icones
        [iconName]="'sun'"
        [iconColor]="'rgb(253, 213, 15)'"
        [iconSize]="1.2"
      ></app-icones>
    </div>
    <div>
      <app-icones
        [iconName]="'sun-fill'"
        [iconColor]="'rgb(253, 213, 15)'"
        [iconSize]="1.2"
      ></app-icones>
      <app-icones
        [iconName]="'sun-fill'"
        [iconColor]="'rgb(253, 213, 15)'"
        [iconSize]="1.2"
      ></app-icones>
      <app-icones
        [iconName]="'sun-fill'"
        [iconColor]="'rgb(253, 213, 15)'"
        [iconSize]="1.2"
      ></app-icones>
    </div>
  </div>
</div>
