<div>
  <app-navbar (myrtilleVersParent)="transmitSearch($event)"> </app-navbar>
</div>
<div class="container">
  <button [title]="monTitle" (click)="displayDiv()">
    Afficher la Div avec mon logo dedans !
  </button>
  <div *ngIf="isDivDisplayed">
    <img src="assets/logo.png" />
  </div>

  <h1 class="title">Plantdex</h1>
  <div class="container-plants">
    <app-card-plant
      *ngFor="let plantData of plantTampon"
      [plant]="plantData"
    ></app-card-plant>
    <!-- Je Boucle FOR sur le TABTAMPON pour ne pas toucher au tableau originel-->
  </div>
</div>
