<div class="card" id="cardDesign">
  <img [src]="plant.image" class="card-img-top" [alt]="plant.nom" />
  <div class="card-body">
    <h5 class="card-title text-truncate" [title]="plant.nom">
      {{ plant.nom }}
    </h5>
    <p class="card-text">
      {{ plant.categorie }}
    </p>
    <div class="plants-needs">
      <app-icones [icons]="iconBootstrap"></app-icones>
      <!--<app-icones [dropletFill]="iconDropFill"></app-icones>-->
      <!--<app-icones [sunny]="iconSun"></app-icones>-->
      <!--<app-icones [sunnyFill]="iconSunFill"></app-icones>-->

      <!--<app-icones [message]="monMessage"></app-icones>-->
    </div>

    <a href="#" class="btn btn-success">I 'd like to <br />have this one.</a>
  </div>
</div>
