#cardDesign {
  border: solid 5px rgb(86, 122, 42);
  border-radius: 10px;
}
img {
  max-height: 75%;
}
.design-icon {
  display: flex;
  justify-content: space-around;
}
h6 {
  font-size: 0.9em;
  margin: 0.5%;
}
.d-text {
  display: flex;
  align-self: start;
}
.design-Water-Sun {
  /*background-color: rgb(228, 229, 228);*/
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 2%;
  padding: 2%;
}
