<div class="card" id="cardDesign">
  <img [src]="plant.image" class="card-img-top" [alt]="plant.nom" />
  <div class="card-body">
    <h5 class="card-title text-truncate" [title]="plant.nom">
      {{ plant.nom }}
    </h5>
    <p class="card-text">
      {{ plant.categorie }}
    </p>
    <div>
      <div>
        <div class="i-design">
          <h6>
            Watering :
            {{ plant.arrosage }}
          </h6>
          <h6>
            Sunshine : <br />
            {{ plant.soleil }}
          </h6>
        </div>
        <div>
          <!--<app-icones
            >[waterIcons]="plant.arrosage" [sunshineIcons]="plant.soleil"
            [waterIcons]="iconForWaterP"
            [sunshineIcons]="iconForSun"
          </app-icones>-->
          <app-icones [waterIcons]="iconForWater" [sunshineIcons]="iconForSun">
            {{ waterNeedsDisplay() }}</app-icones
          >
        </div>
      </div>
      <div></div>
    </div>

    <a href="#" class="btn btn-success">I 'd like to <br />have this one.</a>
  </div>
</div>

<!--<span><app-icones [icons]="iconBootstrap"></app-icones></span>-->
<!--<app-icones [message]="monMessage"></app-icones>
 <app-icones
            [waterIcons]="iconForWaterFill"
            [sunshineIcons]="iconForSunFill"
          ></app-icones>
-->
