<div class="design-Water-Sun">
  <div class="sun-icon-design">
    <div><p>Watering</p></div>
    <div class="align-icon b-color">
      <div>
        <i class="bi bi-brightness-high"></i>
      </div>
      <div>
        <i class="bi bi-brightness-high"></i>
      </div>
      <div>
        <i class="bi bi-brightness-high-fill"></i>
      </div>
    </div>
  </div>
  <div class="drop-icon-design">
    <div><p>Sunshine</p></div>
    <div class="align-icon y-color">
      <div>
        <i class="bi bi-droplet"></i>
      </div>
      <div>
        <i class="bi bi-droplet-half"></i>
      </div>
      <div>
        <i class="bi bi-droplet-fill"></i>
      </div>
    </div>
  </div>
</div>
