<div class="btns-filter-design">
  <div>
    <input
      type="color"
      id="navBar"
      name="navBar"
      value="#e66465"
      (click)="colorChoice($event)"
    />
  </div>
  <p>Trier par :</p>
  <div class="div-btns">
    <button
      class="btn"
      id="alphabetic"
      value="alphabetic"
      (click)="btn_alphabetic($event)"
    >
      Alphabetic
    </button>
    <div class="div-reset">
      <button
        class="btn"
        id="alphabetic"
        value="alphabetic"
        (click)="resetAlpha($event)"
      >
        <i class="bi bi-arrow-counterclockwise"></i>
      </button>
    </div>
  </div>
  <div class="div-btns">
    <button
      class="btn"
      id="arrosage"
      value="arrosage"
      (click)="btn_arrosage($event)"
    >
      💧 Water Quantity 💧
    </button>
  </div>
  <div class="div-btns">
    <button class="btn" id="soleil" value="soleil" (click)="btn_soleil($event)">
      ☀️ Sunshine ☀️
    </button>
  </div>
</div>
