<div class="btns-filter-design">
  <div class="btns-input">
    <input
      class=""
      type="checkbox"
      value="alphabetic"
      id="alphabetic"
      (change)="btn_alphabetic($event)"
    />
    <label>Alphabetic Order</label>
  </div>
  <div class="btns-input">
    <input
      class=""
      type="checkbox"
      value="arrosage"
      id="arrosage"
      (change)="btn_arrosage($event)"
    />
    <label>💧...De l'eau ! 💧</label>
  </div>
  <div class="btns-input">
    <input
      class=""
      type="checkbox"
      value="soleil"
      id="soleil"
      (change)="btn_soleil($event)"
    />
    <label> ☀️...Et du Soleil ☀️</label>
  </div>
</div>
