<div class="btns-filter-design">
  <div class="div-btns">
    <button
      class="btn"
      type="checkbox"
      id="alphabetic"
      value="alphabetic"
      (click)="btn_alphabetic($event)"
    >
      Alphabetic
    </button>
  </div>
  <div class="div-btns">
    <button
      class="btn"
      type="checkbox"
      id="arrosage"
      value="arrosage"
      (click)="btn_arrosage($event)"
    >
      💧 Water Quantity 💧
    </button>
  </div>
  <div class="div-btns">
    <button
      class="btn"
      type="checkbox"
      id="soleil"
      value="soleil"
      (click)="btn_soleil($event)"
    >
      ☀️ Sunshine ☀️
    </button>
  </div>
</div>
