<!-- LA PAGE ADMIN : JE PEUX CHOISIR DE -- C R E E R -- ou de -- M O D I F I E R -- UNE PLANTE-->
<div class="entete">
  <div>
    <h1>Admin. de PlantDex</h1>
  </div>
  <div>
    <button
      class="design-create-btn"
      [ngStyle]="{ width: '15rem', height: '3rem' }"
    >
      &nbsp;<a href="admin/new-plant" [ngStyle]="{ color: 'rgb(40, 44, 40)' }">
        Ajouter une plante.&nbsp;</a
      >
    </button>
  </div>
</div>

<table class="table">
  <!-- C'est la classe Bootstrap TABLE-->
  <thead class="thead-design">
    <th>Nom :</th>
    <th>Image :</th>
    <th>Catégorie :</th>
    <th>Ensoleillement :</th>
    <th>Arrosage :</th>
    <th>Id :</th>
  </thead>
  <tbody>
    <tr *ngFor="let plantData of plantsToAdmin">
      <td class="left-pad">
        <button
          type="submit"
          class="design-update-btn"
          value="update-button"
          id="update-button"
          (drop)="sendChoosenPlantToUpdate($event)"
          [ngStyle]="{ width: '5rem' }"
        >
          &nbsp;<a href="admin/edit-plant" [ngStyle]="{ color: 'white' }"
            >Update</a
          >
        </button>
        &nbsp;&nbsp;{{ plantData.nom }}
      </td>
      <td class="col-img">
        <img
          class="size"
          src="{{ plantData.image }}"
          alt="Image : {{ plantData.nom }} "
        />
      </td>
      <td>{{ plantData.categorie }}</td>
      <td>{{ plantData.soleil }}</td>
      <td>{{ plantData.arrosage }}</td>
      <td>{{ plantData.id }}</td>
    </tr>
  </tbody>
</table>
