.size {
  max-width: 80%;
  width: auto;
}
.entete {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 2%;
}

td {
  background-color: rgb(241, 242, 241);
  color: rgb(42, 43, 42);
  padding: 0.5%;
  vertical-align: middle;
}
th {
  text-align: center;
}
.table {
  justify-content: space-around;
  padding: 2%;
}
.col-img {
  max-width: 100px;
}
.design-update-btn {
  background-color: rgb(172, 209, 172);
  font-size: 0.6rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0.8%;
  border-radius: 5px;
}
.design-delete-btn {
  background-color: rgb(142, 66, 70);
  font-size: 0.6rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0.8%;
  border-radius: 5px;
}
.design-create-btn {
  background-color: rgb(172, 209, 172);
  font-size: 1.3rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0.8%;
  border-radius: 5px;
  margin-left: 10%;
}
.left-pad {
  padding-left: 3%;
}
a.link {
  color: black;
}
