<h1>Page Admin PlantDex</h1>
<div>
  <button>&nbsp;<a href="admin/new-plant"> AJOUTER PLANTE !&nbsp;</a></button>
</div>
<div>
  <button>&nbsp;<a href="admin/edit-plant">MODIFIER PLANTE !&nbsp;</a></button>
</div>

<table class="table">
  <!-- C'est la classe Bootstrap TABLE-->
  <thead class="thead-design">
    <th>
      Cocher pour <br />
      modifier...
    </th>
    <th>Nom</th>
    <th>Image</th>
    <th>Catégorie</th>
    <th>Ensoleillement</th>
    <th>Arrosage</th>
  </thead>
  <tbody>
    <tr *ngFor="let plantData of plantsToAdmin">
      <td>
        <input
          type="checkbox"
          class="update"
          value="{{ plantData }}"
          id="{{ plantData }}"
          (choosePlantToUpdate)="updatePlantBtn($event)"
        />
      </td>
      <td>
        <input
          type="checkbox"
          class="update"
          value="{{ plantData }}"
          id="{{ plantData }}"
          (choosePlantToUpdate)="updatePlantBtn($event)"
        />&nbsp;&nbsp;{{ plantData.nom }}
      </td>
      <td class="col-img">
        <img
          class="size"
          src="{{ plantData.image }}"
          alt="Image : {{ plantData.nom }} "
        />
      </td>
      <td>{{ plantData.categorie }}</td>
      <td>{{ plantData.soleil }}</td>
      <td>{{ plantData.arrosage }}</td>
      <td>{{ plantData.id }}</td>
    </tr>
  </tbody>
</table>
